@font-face{font-family:'open_sansregular';src:url('../font/opensans/opensans_regular_ubasic/OpenSans-Regular-webfont.eot');src:url('../font/opensans/opensans_regular_ubasic/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/opensans/opensans_regular_ubasic/OpenSans-Regular-webfont.woff') format('woff'),
url('../font/opensans/opensans_regular_ubasic/OpenSans-Regular-webfont.ttf') format('truetype'),
url('../font/opensans/opensans_regular_ubasic/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');font-weight:normal;font-style:normal;}

@font-face {
    font-family: 'SegoeUIRegular';
    src: url('../font/segoeui/segoeui.eot');
    src: url('../font/segoeui/segoeui.eot') format('embedded-opentype'),
         url('../font/segoeui/segoeui.woff2') format('woff2'),
         url('../font/segoeui/segoeui.woff') format('woff'),
         url('../font/segoeui/segoeui.ttf') format('truetype'),
         url('../font/segoeui/segoeui.svg#SegoeUIRegular') format('svg');
}
@font-face{font-family:helvetica_neue_thin;src:url('../font/helvetica_neue_thin/helvetica_neue_ce_35_thin_0.eot');src:url('../font/helvetica_neue_thin/helvetica_neue_ce_35_thin_0.eot?#iefix') format('embedded-opentype'),
url('../font/helvetica_neue_thin/helvetica_neue_ce_35_thin_0.woff') format('woff'),
url('../font/helvetica_neue_thin/helvetica_neue_ce_35_thin_0.ttf') format('truetype'),
url('../font/helvetica_neue_thin/helvetica_neue_ce_35_thin_0.svg#helvetica_ce_35_thinregular') format('svg');font-weight:normal;font-style:normal;}

@font-face{font-family:'HelveticaNeue35Thin';src:url('../font/HelveticaNeue-Thin/helveticaneue-thin.eot');src:url('../font/HelveticaNeue-Thin/helveticaneue-thin.eot?#iefix') format('embedded-opentype'),
url('../font/HelveticaNeue-Thin/helveticaneue-thin.woff') format('woff'),
url('../font/HelveticaNeue-Thin/helveticaneue-thin.ttf') format('truetype'),
url('../font/HelveticaNeue-Thin/helveticaneue-thin.svg#helvetica_ce_35_thinregular') format('svg');font-weight:normal;font-style:normal;}



/*limousine*/
.sld_lft_content{position:absolute;bottom:15px;background:rgba(0,0,0,0.5);left:5%;padding:10px;z-index:99;width:575px;box-sizing:border-box;}
.sld_lft_content h1{font:40px 'helvetica_neue_thin';color:#fff;}
.sld_rgt_img{position:absolute;top:30px;right:5%;z-index:99;width:503px;}
.sld_rgt_img_1{position:absolute;top:5px;right:3%;z-index:99;width:579px;}
.sld_rgt_img_1 span.txt_1{position:absolute;top:15px;left:-180px;font:16px 'open_sansregular';color:#000;}
.sld_rgt_img_1 span.txt_2{position:absolute;top:90px;left:50px;font:16px 'open_sansregular';color:#000;}
.sld_rgt_img_1 span.txt_3{position:absolute;bottom:75px;left:50px;font:16px 'open_sansregular';color:#fff;}
.sld_rgt_img p{position:absolute;right:0;width:225px;font:16px/64px 'helvetica_neue_thin';color:#fff;top:0;}
.get_quote,.download_docs{float:left;width:100%;padding:15px 0;text-align:center;background:#f0f0f1;}
.get_quote a{display:inline-block;width:220px;height:53px;background:#ff2906;margin-right:20px;font:16px/53px 'open_sansregular';color:#fff;border-radius:2px;text-transform:uppercase;}
.download_docs p{font:26px 'HelveticaNeue35Thin';color:#000;display:inline-block;background:url(../images/download_arr.png) right 6px no-repeat;padding-right:85px;}
.download_docs a{display:inline-block;width:220px;height:53px;margin-left:15px;font:16px/53px 'open_sansregular';color:#fff;border-radius:2px;text-transform:uppercase;}
.corporate{background:#ff2906;}
.white{background:#ee0068;}
.download_docs{margin:15px 0;}
.download_docs a:hover,.get_quote a:hover{opacity:0.8;filter:alpha(opacity=80);}
.limousine_mobile_app{float:left;width:100%;padding:20px 0;text-align:center;}
.limousine_mobile_app h2{font:40px 'helvetica_neue_thin';color:#000;float:left;width:100%;text-transform:capitalize;}
.limousine_mobile_app ul{float:left;width:100%;margin-top:50px;}
.limousine_mobile_app ul li{float:left;width:27.33%;padding:0 3%;}
.limousine_mobile_app ul li:first-child{padding-left:0;}
.limousine_mobile_app ul li:last-child{padding-right:0;}
.limousine_app_1{display:inline-block;width:72px;height:72px;background:url(../images/limousine_app_img.png) no-repeat;margin-bottom:30px;}
.limousine_app_2{display:inline-block;width:72px;height:72px;background:url(../images/limousine_app_img.png) -82px -1px no-repeat;margin-bottom:30px;}
.limousine_app_3{display:inline-block;width:72px;height:72px;background:url(../images/limousine_app_img.png) -164px -1px no-repeat;margin-bottom:30px;}
.limousine_mobile_app ul li h4{float:left;width:100%;font:20px 'SegoeUIRegular';color:#000;text-transform:uppercase;padding-bottom:10px;}
.limousine_mobile_app ul li p{width:100%;font:14px/22px 'open_sansregular';color:#5a5a5a;float:left;}
.limousine_passenger_det{float:left;width:100%;padding:35px 0;border-bottom:1px solid #e2e2e2;}
.limousine_passenger_det_lft,.limousine_passenger_det_rgt{display:inline-block;width:49%;vertical-align:middle;}
.limousine_passenger_det_lft h3,.limousine_passenger_det_rgt h3{float:left;width:100%;font:32px 'HelveticaNeue35Thin';color:#000;letter-spacing:-0.6px;}
.limousine_passenger_det_lft p,.limousine_passenger_det_rgt p{float:left;width:100%;font:14px/22px 'open_sansregular';color:#5a5a5a;margin-top:20px;}
.limousine_passenger_det_lft ul,.limousine_passenger_det_rgt ul{float:left;width:100%;margin-top:10px;}
.limousine_passenger_det_lft ul li,.limousine_passenger_det_rgt ul li{float:left;width:100%;font:14px 'open_sansregular';color:#5a5a5a;margin-top:12px;padding-left:20px;box-sizing:border-box;position:relative;}
.limousine_passenger_det_lft ul li:before,.limousine_passenger_det_rgt ul li:before{width:5px;height:5px;background:#333;content:"";position:absolute;top:7px;left:0;}
.gray_bg{background:#fafafa;}
.align-left{text-align:left;vertical-align:middle;}
.align-right{text-align:right;vertical-align:middle;}
.align-center{text-align:center;vertical-align:middle;}
.fc_image img{max-width: 100%;}


/*flexslider*/
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  {outline: none;}
.slides,.flex-control-nav,.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;position:relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;float: left;width: 100%;height:469px;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;float: left;width:100%;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {display: none;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 5px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff;cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #ff9c00;}
.flex-control-paging li a.flex-active { background: #ff9c00; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
